body{
    background-color: #b5b5b5;
}
.text{
    margin: 3%;
    text-align: center;
    display: block;
    color: #242424;
}
.stroka{
    margin: 3%;
}
.photo{
    width: 35%;
    height: auto;
}